<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ouyang.cloudprovider.dao.CustomerDao">

    <select id="findById" resultType="Customer" parameterType="java.lang.Integer">
        select * from customer where id = #{id}
    </select>
    <select id="findAll" resultType="Customer">
        select * from customer
    </select>
    <insert id="addCustomer" parameterType="Customer">
        insert into customer(name,email,db_source) values(#{name},#{email},DATABASE())
    </insert>

</mapper>


